# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
backend/uiPipolker/.env
backend/uiPipolker/debug.log
backend/uiPipolker/media/
backend/uiPipolker/staticfiles/

# Vue / Vite
frontend/node_modules/
frontend/dist/

# Local IDE files
.idea/
.vscode/
